.AttachmentControl {
  color: #0055fb;
  padding: 5px;
  box-sizing: border-box;
  height: 30px;
  text-decoration: none;
  line-height: 30px;
}

.AttachmentControl:focus {
  border: 2px solid #45a5ff;
  border-radius: 7px;
  outline: none;
}

.AttachmentControl:hover {
  color: #266efb;
}
