.WaitingBanner {
  box-sizing: border-box;
  width: 800px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 320px;

  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WaitingBanner-title {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto 10px;
}

.WaitingBanner-info {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin: 0 40px;
}
